.tag {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #fff;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 6px;
}
