//customize your own CSS for page display
#title,  
#authors,  
#acceotance-status,  
#paper-links  
  font-family: "Times New Roman", FangSong, STFangsong, sans-serif  
  font-size: 1.8rem  

hr 
  border: none;  
  border-top: 1px solid lightgray;  

#image-cell
  width: 350px;  
  padding-right: 20px;  

#pub-image 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
