/* .header {
  margin-top: 60px;
} */

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  flex: auto;
  font-size: 20px;
  z-index: 999;
}

.headerTitleLg {
  flex: auto;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: -20px;
  object-fit: cover;
}
